annotation
assemblies
comparison_plots
dotplot_test
final
illumina
long_polish
longstitch
organelle_check
pilon
purge_dups
repeat_masker
Rsp4_filt.fastq.gz
Rsp4_highqual.fastq.gz
Rsp4_trim.fastq.gz
slurm_out
svim